# Python compiled files
*.pyc
__pycache__/
# Log files
nohup.out
*.log
# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml
cache/

# Sublime Text
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Temporary files
*.tmp
*.bak
*~
__pycache__/
*.pyc
